workflows/morning-slack-secretary.n8n.json
{
  "name": "Morning Slack Secretary - Calendar and Tasks",
  "nodes": [
    {
      "id": "schedule-morning",
      "name": "Every Morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7,
              "triggerAtMinute": 30
            }
          ]
        }
      }
    },
    {
      "id": "calendar-today",
      "name": "Get Today's Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [240, 0],
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "cachedResultName": "replace-with-your-calendar-name"
        },
        "returnAll": true,
        "timeMin": "={{ $now.setZone('Asia/Tokyo').startOf('day').toISO() }}",
        "timeMax": "={{ $now.setZone('Asia/Tokyo').endOf('day').toISO() }}",
        "options": {
          "timezone": {
            "__rl": true,
            "mode": "id",
            "value": "Asia/Tokyo",
            "cachedResultName": "Asia/Tokyo"
          }
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "id": "google-tasks-open",
      "name": "Get Open Google Tasks",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [480, 0],
      "parameters": {
        "resource": "task",
        "operation": "getAll",
        "task": "@default",
        "returnAll": true,
        "additionalFields": {
          "showCompleted": false,
          "showDeleted": false,
          "showHidden": false
        }
      },
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "id": "compose-morning-message",
      "name": "Compose Morning Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 0],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const fmtDate = new Intl.DateTimeFormat('ja-JP', { timeZone: 'Asia/Tokyo', month: '2-digit', day: '2-digit', weekday: 'short' });\nconst fmtTime = value => {\n  if (!value) return '終日';\n  const d = new Date(value);\n  if (Number.isNaN(d.getTime())) return '終日';\n  return new Intl.DateTimeFormat('ja-JP', { timeZone: 'Asia/Tokyo', hour: '2-digit', minute: '2-digit' }).format(d);\n};\nconst today = fmtDate.format(new Date());\nconst events = $items(\"Get Today's Calendar Events\").map(item => item.json || {}).filter(e => e.summary || e.start || e.end).sort((a, b) => String(a.start?.dateTime || a.start?.date || '').localeCompare(String(b.start?.dateTime || b.start?.date || '')));\nconst priorityRank = { S: 0, A: 1, B: 2, C: 3 };\nconst priorityOf = title => {\n  const m = String(title || '').match(/^\\[([SABC])\\]/i);\n  return m ? m[1].toUpperCase() : 'B';\n};\nconst cleanTitle = title => String(title || '(no title)').replace(/^\\[[SABC]\\]\\s*/i, '');\nconst dueRank = due => {\n  if (!due) return 3;\n  const d = new Date(due);\n  if (Number.isNaN(d.getTime())) return 2;\n  const todayKey = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Tokyo' }).format(new Date());\n  const dueKey = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Tokyo' }).format(d);\n  return dueKey <= todayKey ? 0 : 1;\n};\nconst tasks = items.map(item => item.json || {}).filter(t => String(t.status || 'needsAction') !== 'completed' && (t.title || t.id)).sort((a, b) => (priorityRank[priorityOf(a.title)] ?? 2) - (priorityRank[priorityOf(b.title)] ?? 2) || dueRank(a.due) - dueRank(b.due)).slice(0, 3);\nlet text = `*Morning Check - ${today}*\\n`;\ntext += '\\n*Today\\'s Events*\\n';\nif (events.length === 0) {\n  text += 'No events today.\\n';\n} else {\n  text += events.slice(0, 8).map((e, i) => {\n    const start = e.start?.dateTime || e.start?.date;\n    const end = e.end?.dateTime || e.end?.date;\n    const time = start && end ? `${fmtTime(start)}-${fmtTime(end)}` : fmtTime(start);\n    const where = e.location ? ` @ ${e.location}` : '';\n    return `${i + 1}. ${time} ${e.summary || '(untitled)'}${where}`;\n  }).join('\\n') + '\\n';\n}\ntext += '\\n*Top 3 Tasks*\\n';\nif (tasks.length === 0) {\n  text += 'No open tasks.';\n} else {\n  text += tasks.map((t, i) => {\n    const p = priorityOf(t.title);\n    const due = t.due ? ` / due: ${fmtDate.format(new Date(t.due))}` : '';\n    return `${i + 1}. [${p}] ${cleanTitle(t.title)}${due}`;\n  }).join('\\n');\n}\nreturn [{ json: { text, event_count: events.length, task_count: tasks.length } }];"
      }
    },
    {
      "id": "slack-send-morning",
      "name": "Send Morning Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [960, 0],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID",
          "cachedResultName": "replace-with-your-channel-name"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Morning": {
      "main": [[{ "node": "Get Today's Calendar Events", "type": "main", "index": 0 }]]
    },
    "Get Today's Calendar Events": {
      "main": [[{ "node": "Get Open Google Tasks", "type": "main", "index": 0 }]]
    },
    "Get Open Google Tasks": {
      "main": [[{ "node": "Compose Morning Message", "type": "main", "index": 0 }]]
    },
    "Compose Morning Message": {
      "main": [[{ "node": "Send Morning Message", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tokyo"
  },
  "staticData": null,
  "pinData": {}
}
