workflows/slack-monitor-ai-to-sheets.n8n.json
{
  "name": "Slack Channel Monitor AI Summary to Sheets",
  "nodes": [
    {
      "id": "schedule-slack-monitor",
      "name": "Check Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      }
    },
    {
      "id": "slack-get-messages",
      "name": "Get Slack Messages",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [240, 0],
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID",
          "cachedResultName": "replace-with-your-source-channel-name"
        },
        "limit": 50
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "filter-new-messages",
      "name": "Filter New Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "parameters": {
        "jsCode": "const wf = $getWorkflowStaticData('global');\nconst lastTs = Number(wf.lastSlackTs || 0);\nconst messages = items\n  .map(item => item.json || {})\n  .filter(message => String(message.text || '').trim())\n  .filter(message => !message.bot_id || String(message.subtype || '') !== 'bot_message')\n  .map(message => {\n    const tsNumber = Number(message.ts || message.messageTs || 0);\n    return {\n      tsNumber,\n      ts: String(message.ts || ''),\n      channel: String(message.channel || 'YOUR_SLACK_CHANNEL_ID'),\n      user: String(message.user || message.username || 'unknown'),\n      text: String(message.text || '').trim(),\n      permalink: String(message.permalink || message.messageLink || '')\n    };\n  })\n  .filter(message => message.tsNumber > lastTs)\n  .sort((a, b) => a.tsNumber - b.tsNumber)\n  .slice(0, 20);\nif (messages.length > 0) {\n  wf.lastSlackTs = String(Math.max(...messages.map(message => message.tsNumber)));\n}\nreturn messages.map(message => ({ json: message }));"
      }
    },
    {
      "id": "ollama-slack-judge",
      "name": "AI Judge Slack Post",
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [720, 0],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "llama3.2"
        },
        "messages": {
          "values": [
            {
              "content": "=You summarize and triage Slack posts. Return exactly five labeled lines in Japanese.\\n\\nChannel: {{ $json.channel }}\\nUser: {{ $json.user }}\\nText: {{ ($json.text || '').substring(0, 2000) }}\\nLink: {{ $json.permalink }}\\n\\n重要度: High または Low\\nカテゴリ: 重要連絡 / イベント / タスク / 質問 / 期限 / その他\\n要約: 30〜100字で1文\\n行動: 取るべき行動。不要なら「なし」\\n期限: 締切・開催日時。不明なら「不明」"
            }
          ]
        },
        "options": {
          "temperature": 0,
          "think": false,
          "num_predict": 220
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "parse-ai-result",
      "name": "Parse AI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 0],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = String($json.content || $json.response || $json.message?.content || '').trim();\nlet src = {};\ntry { src = $('Filter New Messages').item.json || {}; } catch (e) { src = {}; }\nconst grab = label => {\n  const re = new RegExp(label + '\\\\s*[:：]\\\\s*([^\\\\n\\\\r]+)', 'i');\n  const m = raw.match(re);\n  return m ? m[1].trim() : '';\n};\nconst importance = /high/i.test(grab('重要度')) ? 'High' : 'Low';\nlet category = grab('カテゴリ') || 'その他';\nconst allowed = ['重要連絡', 'イベント', 'タスク', '質問', '期限', 'その他'];\nif (!allowed.includes(category)) category = 'その他';\nconst summary = (grab('要約') || src.text || '').replace(/[\\r\\n]+/g, ' ').slice(0, 300);\nconst action = (grab('行動') || '').replace(/[\\r\\n]+/g, ' ').trim() || (importance === 'High' ? '確認する' : 'なし');\nconst deadline = (grab('期限') || '不明').replace(/[\\r\\n]+/g, ' ').trim();\nreturn { ...src, processed: 'true', importance, category, summary, action, deadline, createdAt: new Date().toISOString() };"
      }
    },
    {
      "id": "if-slack-high",
      "name": "Important?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1200, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "importance-high",
              "leftValue": "={{ $json.importance }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "send-important-slack",
      "name": "Notify Important Post",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [1440, -100],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_ALERT_CHANNEL_ID",
          "cachedResultName": "replace-with-your-alert-channel-name"
        },
        "text": "=📣 *Important Slack Post*\\n*Summary:* {{ $json.summary }}\\n*Category:* {{ $json.category }}\\n*Deadline:* {{ $json.deadline || 'unknown' }}\\n*User:* {{ $json.user || 'unknown' }}\\n*Action:* {{ $json.action || 'none' }}\\n{{ $json.permalink || '' }}",
        "otherOptions": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "shape-log-row",
      "name": "Shape Sheet Log Row",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1680, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "timestamp", "name": "Timestamp", "value": "={{ $json.createdAt }}", "type": "string" },
            { "id": "slack-ts", "name": "SlackTs", "value": "={{ $json.ts }}", "type": "string" },
            { "id": "channel", "name": "Channel", "value": "={{ $json.channel }}", "type": "string" },
            { "id": "user", "name": "User", "value": "={{ $json.user }}", "type": "string" },
            { "id": "text", "name": "Text", "value": "={{ $json.text }}", "type": "string" },
            { "id": "importance", "name": "Importance", "value": "={{ $json.importance }}", "type": "string" },
            { "id": "category", "name": "Category", "value": "={{ $json.category }}", "type": "string" },
            { "id": "summary", "name": "Summary", "value": "={{ $json.summary }}", "type": "string" },
            { "id": "action", "name": "Action", "value": "={{ $json.action }}", "type": "string" },
            { "id": "deadline", "name": "Deadline", "value": "={{ $json.deadline }}", "type": "string" },
            { "id": "permalink", "name": "Permalink", "value": "={{ $json.permalink }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "append-slack-result",
      "name": "Append Result to Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1920, 0],
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID",
          "cachedResultName": "replace-with-your-sheet-name"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "gid=0",
          "cachedResultName": "Results"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [],
          "schema": [],
          "value": {}
        },
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Check Every 15 Minutes": {
      "main": [[{ "node": "Get Slack Messages", "type": "main", "index": 0 }]]
    },
    "Get Slack Messages": {
      "main": [[{ "node": "Filter New Messages", "type": "main", "index": 0 }]]
    },
    "Filter New Messages": {
      "main": [[{ "node": "AI Judge Slack Post", "type": "main", "index": 0 }]]
    },
    "AI Judge Slack Post": {
      "main": [[{ "node": "Parse AI Result", "type": "main", "index": 0 }]]
    },
    "Parse AI Result": {
      "main": [[{ "node": "Important?", "type": "main", "index": 0 }]]
    },
    "Important?": {
      "main": [
        [{ "node": "Notify Important Post", "type": "main", "index": 0 }],
        [{ "node": "Shape Sheet Log Row", "type": "main", "index": 0 }]
      ]
    },
    "Notify Important Post": {
      "main": [[{ "node": "Shape Sheet Log Row", "type": "main", "index": 0 }]]
    },
    "Shape Sheet Log Row": {
      "main": [[{ "node": "Append Result to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tokyo",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "pinData": {}
}
