workflows/slack-task-to-google-tasks-calendar.n8n.json
{
  "name": "Slack Task Command to Google Tasks and Calendar",
  "nodes": [
    {
      "id": "webhook-slack-task",
      "name": "Slack Slash Command",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-task-inbox",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "set-slack-secret",
      "name": "Load Signing Secret",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "slack-secret",
              "name": "slack_secret",
              "value": "={{ $env.SLACK_SIGNING_SECRET }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "verify-slack-signature",
      "name": "Verify Slack Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "parameters": {
        "jsCode": "function getHeader(headers, name) {\n  const target = name.toLowerCase();\n  for (const [key, value] of Object.entries(headers || {})) {\n    if (String(key).toLowerCase() === target) return Array.isArray(value) ? String(value[0] || '') : String(value || '');\n  }\n  return '';\n}\nfunction timingSafeEqual(a, b) {\n  const left = String(a || '');\n  const right = String(b || '');\n  let diff = left.length ^ right.length;\n  const len = Math.max(left.length, right.length);\n  for (let i = 0; i < len; i++) diff |= left.charCodeAt(i) ^ right.charCodeAt(i);\n  return diff === 0;\n}\nfunction rotr(value, amount) { return (value >>> amount) | (value << (32 - amount)); }\nfunction sha256(bytes) {\n  const k = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  const h = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const msg = Array.from(bytes);\n  const bitLen = msg.length * 8;\n  msg.push(0x80);\n  while ((msg.length % 64) !== 56) msg.push(0);\n  const high = Math.floor(bitLen / 0x100000000);\n  const low = bitLen >>> 0;\n  for (const word of [high, low]) msg.push((word >>> 24) & 255, (word >>> 16) & 255, (word >>> 8) & 255, word & 255);\n  const w = new Array(64);\n  for (let offset = 0; offset < msg.length; offset += 64) {\n    for (let i = 0; i < 16; i++) {\n      const j = offset + i * 4;\n      w[i] = ((msg[j] << 24) | (msg[j + 1] << 16) | (msg[j + 2] << 8) | msg[j + 3]) >>> 0;\n    }\n    for (let i = 16; i < 64; i++) {\n      const s0 = (rotr(w[i - 15], 7) ^ rotr(w[i - 15], 18) ^ (w[i - 15] >>> 3)) >>> 0;\n      const s1 = (rotr(w[i - 2], 17) ^ rotr(w[i - 2], 19) ^ (w[i - 2] >>> 10)) >>> 0;\n      w[i] = (w[i - 16] + s0 + w[i - 7] + s1) >>> 0;\n    }\n    let [a,b,c,d,e,f,g,hh] = h;\n    for (let i = 0; i < 64; i++) {\n      const s1 = (rotr(e, 6) ^ rotr(e, 11) ^ rotr(e, 25)) >>> 0;\n      const ch = ((e & f) ^ (~e & g)) >>> 0;\n      const temp1 = (hh + s1 + ch + k[i] + w[i]) >>> 0;\n      const s0 = (rotr(a, 2) ^ rotr(a, 13) ^ rotr(a, 22)) >>> 0;\n      const maj = ((a & b) ^ (a & c) ^ (b & c)) >>> 0;\n      const temp2 = (s0 + maj) >>> 0;\n      hh = g; g = f; f = e; e = (d + temp1) >>> 0; d = c; c = b; b = a; a = (temp1 + temp2) >>> 0;\n    }\n    h[0]=(h[0]+a)>>>0; h[1]=(h[1]+b)>>>0; h[2]=(h[2]+c)>>>0; h[3]=(h[3]+d)>>>0;\n    h[4]=(h[4]+e)>>>0; h[5]=(h[5]+f)>>>0; h[6]=(h[6]+g)>>>0; h[7]=(h[7]+hh)>>>0;\n  }\n  const out = [];\n  for (const word of h) out.push((word >>> 24) & 255, (word >>> 16) & 255, (word >>> 8) & 255, word & 255);\n  return out;\n}\nfunction utf8Bytes(value) { return Array.from(new TextEncoder().encode(String(value))); }\nfunction hex(bytes) { return bytes.map(byte => byte.toString(16).padStart(2, '0')).join(''); }\nfunction hmacSha256Hex(secret, value) {\n  const blockSize = 64;\n  let key = utf8Bytes(secret);\n  if (key.length > blockSize) key = sha256(key);\n  while (key.length < blockSize) key.push(0);\n  const outer = key.map(byte => byte ^ 0x5c);\n  const inner = key.map(byte => byte ^ 0x36);\n  return hex(sha256(outer.concat(sha256(inner.concat(utf8Bytes(value))))));\n}\nfunction getRawBody(item, json) {\n  if (typeof json.body === 'string') return json.body;\n  if (typeof json.rawBody === 'string') return json.rawBody;\n  const encoded = item.binary?.data?.data;\n  if (encoded) return Buffer.from(encoded, 'base64').toString('utf8');\n  return '';\n}\nreturn items.map(item => {\n  const json = item.json || {};\n  const headers = json.headers || {};\n  const timestamp = getHeader(headers, 'x-slack-request-timestamp');\n  const slackSignature = getHeader(headers, 'x-slack-signature');\n  const rawBody = getRawBody(item, json);\n  const secret = json.slack_secret || '';\n  let slack_verified = false;\n  let verification_error = '';\n  try {\n    if (!secret) throw new Error('SLACK_SIGNING_SECRET is not set');\n    if (!timestamp || !slackSignature) throw new Error('Missing Slack signature headers');\n    if (!rawBody) throw new Error('Raw body is required for verification');\n    const ageSeconds = Math.abs(Math.floor(Date.now() / 1000) - Number(timestamp));\n    if (!Number.isFinite(ageSeconds) || ageSeconds > 60 * 5) throw new Error('Slack timestamp is too old');\n    const computed = `v0=${hmacSha256Hex(secret, `v0:${timestamp}:${rawBody}`)}`;\n    slack_verified = timingSafeEqual(computed, slackSignature);\n    if (!slack_verified) throw new Error('Slack signature mismatch');\n  } catch (error) {\n    verification_error = error.message || String(error);\n  }\n  const { slack_secret, ...safeJson } = json;\n  return { json: { ...safeJson, slack_verified, verification_error }, binary: item.binary };\n});"
      }
    },
    {
      "id": "if-slack-verified",
      "name": "Signature OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        720,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "slack-verified",
              "leftValue": "={{ $json.slack_verified }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        120
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "parse-task-command",
      "name": "Parse Task Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -80
      ],
      "parameters": {
        "jsCode": "const sourceJson = items[0]?.json || {};\nconst incoming = sourceJson.body || sourceJson;\nlet data = incoming;\nif (typeof incoming === 'string') data = Object.fromEntries(new URLSearchParams(incoming));\nconst raw = String(data.text || data.raw || '').trim();\nconst user = String(data.user_name || data.user_id || 'slack');\nconst lines = raw.split(/\\r?\\n/).map(line => line.trim()).filter(Boolean);\nconst taskInputs = lines.length > 0 ? lines : [raw];\nconst pad = n => String(n).padStart(2, '0');\nfunction parseTask(line, index) {\n  const priorityMatch = line.match(/^([SABC])\\b\\s*/i);\n  const priority = priorityMatch ? priorityMatch[1].toUpperCase() : 'B';\n  let body = priorityMatch ? line.slice(priorityMatch[0].length).trim() : line;\n  const now = new Date();\n  const parts = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Tokyo', year: 'numeric', month: '2-digit', day: '2-digit' }).formatToParts(now);\n  const current = Object.fromEntries(parts.map(p => [p.type, p.value]));\n  let year = Number(current.year);\n  let month = Number(current.month);\n  let day = Number(current.day);\n  const addDays = days => {\n    const d = new Date(Date.UTC(year, month - 1, day + days, 0, 0, 0));\n    return { year: d.getUTCFullYear(), month: d.getUTCMonth() + 1, day: d.getUTCDate() };\n  };\n  let dueLabel = '';\n  let dateMatched = false;\n  let m;\n  if ((m = body.match(/(今日|明日|明後日|today|tomorrow)/i))) {\n    const word = m[1].toLowerCase();\n    const offset = word === '今日' || word === 'today' ? 0 : (word === '明日' || word === 'tomorrow' ? 1 : 2);\n    ({ year, month, day } = addDays(offset));\n    dueLabel = m[1];\n    dateMatched = true;\n  } else if ((m = body.match(/(\\d{4})[-/](\\d{1,2})[-/](\\d{1,2})/))) {\n    year = Number(m[1]); month = Number(m[2]); day = Number(m[3]);\n    dueLabel = `${year}/${month}/${day}`;\n    dateMatched = true;\n  } else if ((m = body.match(/(\\d{1,2})[月/](\\d{1,2})日?/))) {\n    month = Number(m[1]); day = Number(m[2]);\n    dueLabel = `${month}/${day}`;\n    dateMatched = true;\n  }\n  let hour = null;\n  let minute = 0;\n  if ((m = body.match(/(\\d{1,2}):(\\d{2})/))) {\n    hour = Number(m[1]); minute = Number(m[2]);\n  } else if ((m = body.match(/(\\d{1,2})時(?:半|(?:(\\d{1,2})分)?)?/))) {\n    hour = Number(m[1]); minute = m[0].includes('半') ? 30 : (m[2] ? Number(m[2]) : 0);\n  }\n  const dateOnly = `${year}-${pad(month)}-${pad(day)}`;\n  const hasTime = hour !== null;\n  const dueDate = dateMatched || hasTime ? `${dateOnly}T00:00:00.000Z` : '';\n  const calendarStart = hasTime ? `${dateOnly}T${pad(hour)}:${pad(minute)}:00+09:00` : '';\n  const endDate = hasTime ? new Date(new Date(calendarStart).getTime() + 60 * 60 * 1000) : null;\n  const calendarEnd = endDate ? endDate.toISOString() : '';\n  let cleanText = body.replace(/^(今日|明日|明後日|today|tomorrow)\\s*/i, '').replace(/\\d{4}[-/]\\d{1,2}[-/]\\d{1,2}\\s*/, '').replace(/\\d{1,2}[月/]\\d{1,2}日?\\s*/, '').replace(/\\d{1,2}:\\d{2}\\s*/, '').replace(/\\d{1,2}時(?:半|(?:(?:\\d{1,2})分)?)?\\s*/, '').trim();\n  if (!cleanText) cleanText = body || '(empty task)';\n  const taskTitle = `[${priority}] ${cleanText}`;\n  const notes = [`source: ${user}`, `raw: ${line}`, `priority: ${priority}`].join('\\n');\n  return { raw: line, source: user, priority, task_title: taskTitle, clean_text: cleanText, due_text: dueLabel, due_date: dueDate, has_time: hasTime, calendar_start: calendarStart, calendar_end: calendarEnd, calendar_title: cleanText, notes, response_text: `Registered: ${taskTitle}${dueLabel ? ` / due: ${dueLabel}` : ''}${hasTime ? ` / calendar: ${pad(hour)}:${pad(minute)}` : ''}`, batch_index: index + 1, batch_count: taskInputs.length };\n}\nreturn taskInputs.map((line, index) => ({ json: parseTask(line, index) }));"
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "google-tasks-create",
      "name": "Create Google Task",
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1200,
        -80
      ],
      "parameters": {
        "task": "@default",
        "title": "={{ $json.task_title }}",
        "additionalFields": {
          "dueDate": "={{ $json.due_date }}",
          "notes": "={{ $json.notes }}",
          "status": "needsAction"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "id": "if-has-time",
      "name": "Has Time?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1440,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-time",
              "leftValue": "={{ $('Parse Task Command').item.json.has_time }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "calendar-create",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1680,
        -160
      ],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_CALENDAR_ID",
          "cachedResultName": "replace-with-your-calendar-name"
        },
        "start": "={{ $('Parse Task Command').item.json.calendar_start }}",
        "end": "={{ $('Parse Task Command').item.json.calendar_end }}",
        "additionalFields": {
          "description": "={{ $('Parse Task Command').item.json.notes }}",
          "sendUpdates": "none",
          "summary": "={{ $('Parse Task Command').item.json.calendar_title }}"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "slack-confirm-task",
      "name": "Post Confirmation to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1920,
        -80
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_SLACK_CHANNEL_ID",
          "cachedResultName": "replace-with-your-channel-name"
        },
        "text": "={{ $('Parse Task Command').item.json.response_text }}",
        "otherOptions": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "id": "respond-task",
      "name": "Respond to Slack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        80
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "Task received. Processing in n8n.",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "parameters": {
        "content": "## ✅ Slackコマンド → Google Tasks/Calendar\n\nSlash commandをWebhookで受け、署名検証→タスク登録。時刻が含まれていればCalendarにも予定を作成します。\n\n**事前設定**: Slack signing secret (`.env` の `SLACK_SIGNING_SECRET`)、Google Tasks / Calendar のcredential、Slack appのRequest URLをこのWebhook URLに設定。",
        "height": 220,
        "width": 760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        -380
      ],
      "id": "3a3ddd78-537c-415f-ac45-7888b9826f56",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### 🔐 署名検証\nSlackからの正規リクエストか確認。\n失敗時は `Respond Unauthorized` で拒否応答。",
        "height": 160,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -360
      ],
      "id": "ce29e78e-d687-4ad4-8c9f-253351bfecfc",
      "name": "Sticky Note 2"
    },
    {
      "parameters": {
        "content": "### 🕒 時刻があればCalendarへ\n`Has Time?` で分岐。時刻つきタスクは\nGoogle Calendarにも予定化します。",
        "height": 180,
        "width": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1340,
        -400
      ],
      "id": "5d6976f1-ec2f-4c8c-b06b-5503e48ee343",
      "name": "Sticky Note 3"
    }
  ],
  "connections": {
    "Slack Slash Command": {
      "main": [
        [
          {
            "node": "Load Signing Secret",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Signing Secret": {
      "main": [
        [
          {
            "node": "Verify Slack Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Slack Signature": {
      "main": [
        [
          {
            "node": "Signature OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature OK?": {
      "main": [
        [
          {
            "node": "Parse Task Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task Command": {
      "main": [
        [
          {
            "node": "Create Google Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Task": {
      "main": [
        [
          {
            "node": "Has Time?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Time?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Confirmation to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Post Confirmation to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Tokyo",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  },
  "staticData": null,
  "pinData": {}
}